---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'About', href: '/about' },
    { linkText: 'Services', href: '/#services' },
    { linkText: 'Contact', href: '/contact' }
];
---

<nav class="flex flex-wrap items-center gap-6 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="/" class="no-underline hover:opacity-90 transition-opacity duration-200">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1">
                {navItems.map((item) => (
                    <li>
                        <a
                            href={item.href}
                            class="inline-block px-1.5 py-1 sm:px-3 sm:py-2 font-medium text-white/80 hover:text-white transition-colors duration-200 no-underline"
                        >
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>
